body div.profile{
    background-color: bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    

}

body div.profile h6{
    background-color: palevioletred;
    padding: 20px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
/*body div form input:hover{
    color: rgb(0, 255, 234);
    transition: 0.5s;
}*/